<html>
  <head>
    <title>WebPush Rocks today</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
    const vapidPublicKey = '<%= publicKey %>';
    </script>
    <script src="/scripts/utils.js"></script>
    <script src="/scripts/push.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <header>
      <h1>Get a custom endpoint for web push</h1>
    </header>
    <main>
      <button id="subscribe">Subscribe</button>
      <p id="unsubscribe"><a href="#">Unsubscribe</a></p>
    </main>
  </body>
</html>