html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background: #303f9f;
  color: #fff;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(-200deg, #3f51b5 0%, #303f9f 100%)
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin: 10%;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main button {
  background-color: #ff4081;
  color: white;
  padding: 2em;
  font-size: 1.2em;
  border: none;
  will-change: box-shadow;
  transition: box-shadow 0.3s cubic-bezier(0, 0, 0.3, 1);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}

main button:active {
  box-shadow: none;
}

main button + p, main button + pre {
  color: white;
  padding: 2em;
  font-size: 1em;
}

main button + pre {

}

#unsubscribe, #exampleCurl, #dataElement {
  display: none;
}

#unsubscribe a {
  color: white;
}

#unsubscribe.visible, #exampleCurl.visible, #dataElement.visible {
  display: block;
}

#dataElement, #exampleCurl {
  background-color: rgba(255,255,255,0.2);
  padding: 1em;
  border-radius: 1em;
  max-width: 80vw;
  overflow-x: auto;
  word-wrap: break-word;
  word-break: break-all;
  box-shadow: inset #3f51b5 1px 1px 1px 1px;
  font-family: monospace;
  font-size: 1.2em;
}